<div class="container">
    <div class="row">
        <div class="col-lg-7 my-auto">
            <div class="mx-auto header-content">
                <h1 class="mb-5"style="margin-top: 50px">Muddy Messenger is an educational tool that allows you to get a look under the hood of public key encryption.</h1>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-dark" (click)="goToSignup()" style="margin-right: 40px">Sign Up</button>
                    <button type="button" class="btn btn-outline-primary" (click)="goToLogin()">Log In</button>
                </div>
            </div>
        </div>
    </div>
</div>