.NavBar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #3f2109;
    color: white;
    font-weight: 600;
    text-align: right;
}
  
h1 {
    margin: auto;
}