h1 {
    padding-top: 10px;
}

textarea{
    border: 2px solid #3f2109de;
    border-radius: 4px;
    margin-bottom: 10px;
}
input{
    border: 1px solid #3f2109de;
    border-radius: 4px;
    margin-bottom: 10px;
}
select{
    border: 1px solid #3f2109de;
    border-radius: 2px;
    margin-bottom: 10px; 
    margin-left: 5px; 
}

.sender{
    margin-top: 20px;
    border-radius: 10px;
    color:#454d55;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);  
}