<h1>Hello {{ userName }}</h1>

<div class="form-group">
  <form>
    <label for="message">What message do you want to Muddy up?</label>
    <textarea class="form-control rounded-0" id="message" rows="10"></textarea>
    <button
      type="submit"
      class="btn btn-outline-primary"
      (click)="sendMessage()"
    >
      Submit
    </button>
  </form>
</div>

<div class="error-message" *ngIf="encryptionError">
  <p style="color: red">Please select an encryption method</p>
  <p style="color: red">We want a safe message :)</p>
</div>
