<div class = "sender container">
  <div class="row">
    <div class="col">
        <h1>Hello {{ userName }}</h1>
        <label for="message">What message do you want to Muddy up?</label>
    </div>
    <div class="col text-right">
      <button class="btn btn-muddy inbox" type="button">Inbox</button>
    </div>
  </div>
  
  <form [formGroup]="messageForm" (ngSubmit) = "sendMessage()"> 
    <div class="form-group">
      <textarea class="form-control rounded-0" formControlName = "message" id="message" rows="10"[ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
        <div *ngIf="f.message.errors.required">A message is required</div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="flex-fill">
        <label>Message recipient
          <input class = "form-control" id="recipient" formControlName="recipient" list="users" name="users" [ngClass]="{ 'is-invalid': submitted && f.recipient.errors }"/>
          <div *ngIf="submitted && f.recipient.errors" class="invalid-feedback">
              <div *ngIf="f.recipient.errors.required">A recipient is required</div>
          </div>
        </label>
        <datalist id="users">
          <option *ngFor="let user of users" value="{{ user }}"></option>
        </datalist>
      </div>
      <div class="flex-fill">
        <label>Encryption algorithm </label>
        <select class = "form-control" formControlName = "algorithm">
          <option  *ngFor="let algorithm of algorithms" value="{{ algorithm }}">
            {{algorithm}}
          </option>
        </select>
        <div *ngIf = "this.f.algorithm.value != 'RSA'">
          <label>Shared Key
            <input class = "form-control" id="sharedKey" formControlName="sharedKey" [ngClass]="{ 'is-invalid': submitted && f.sharedKey.errors }"/>
            <div *ngIf="submitted && f.sharedKey.errors" class="invalid-feedback">
                <div *ngIf="f.sharedKey.errors.required">A shared key is required for this algorithm</div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <button 
      type="submit"
      class="btn btn-muddy btn-block"
    >
    <span *ngIf = "!this.f.errors && submitted && !successfulSend" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Send
    </button> 
    <div *ngIf = "successfulSend" class="alert alert-success" role="alert">
      Message muddied up! <br>
      Encrypted Message: {{encryptedMessage}}
    </div>
  </form>
</div>
