<div class="container"style="margin-top:20px">
    <div class="row">
        <div class="col">
            <h1>{{userName}}'s Inbox </h1>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" type="button"(click)="goToSend()">Send Message</button>
        </div>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th class="date"scope="col">Date</th>
              <th scope="col">From</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messages">
              <td>{{message.time}}</td>
              <td>{{message.sender}}</td>
              <td>{{message.text}}</td>
            </tr>
          </tbody>
        </table>
      
      </div>
</div>

<button class="btn btn-primary btn-block" (click)="getMessages()">Refresh</button>

